body{
	font-family: \5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;
	background-color: #EEDFF0;
	background-image: url("../image/hjs93j06210.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;	
}
header{
	position: fixed;
	top:0;
	height:50px;
	width: 100vw;
	font-size: 2.5vw;
	font-weight: bold;
	text-align: center;
	text-shadow:2px 2px 0 black;
	color:white;
	padding:5px 50px 5px 50px;
	background-color: maroon;
	z-index: 1;
}
footer{
	position: fixed;
	bottom:0px;
	height: 250px;
	width: 100vw;
	padding: 10px 20px 5px 20px;
	color: black;
	text-align: center;
	background-color: rgba(160,160,160,0.9);
	z-index: 1;
	-moz-transition-property: bottom;
	-o-transition-property: bottom;
	-webkit-transition-property: bottom;
	transition-property: bottom;
	/*css bottom改r有^渡（一B逐uD榱硪B）效果*/
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	/*^渡效果所持m的rg*/
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	/*^渡效果的赢；ease是以低速_始->加速->Y束前p速*/
}
footer.menu-close{
	bottom:-200px;
}
footer i, footer span, footer p{
	text-shadow:1px 1px 0 white;
}
footer i{
	font-size: 3em;
	cursor: pointer;
}
footer div{
	display: inline-block;
	width: 20vw;
	text-align: center;
}
footer span{
	font-size: 2.5em;
	opacity: 0.1;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	/*^渡效果，uu淡*/
}
footer span.active{
	cursor: pointer;
	opacity: 1;
}
footer p{
	font-size: 1em;
	font-weight: bold;
}
footer ul{
	text-align: left;
	max-width:320px;
}
footer li{
	margin-top:10px; 
}
#homepage{
	color:maroon;
}
#menu-left{
	position: fixed;
	left:0px;
	width: 300px;
	height: 100vh;
	overflow: auto;
	z-index: 3;
	-moz-transition-property: left;
	-o-transition-property: left;
	-webkit-transition-property: left;
	transition-property: left;
	/*css left改r有^渡（一B逐uD榱硪B）效果*/
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	/*^渡效果所持m的rg*/
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	/*^渡效果的赢；ease是以低速_始->加速->Y束前p速*/
}
#menu-left.menu-close{
	left:-250px;
}
#menu-list{
	width: 250px;
	background: rgba(255,255,238,1);
	height: 100%;
}

/*MENU ICON的部份*/
#menu-icon{
	position: absolute;
	top:0;
	right:0;
	width:50px;
	height:50px;
	cursor: pointer;
}
#menu-icon span, #menu-icon:before, #menu-icon:after{
    position: absolute;
    left: 15px;
	content:" ";
	background-color: white;
	width:30px;
	height:4px;
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	/*css width改r有^渡（一B逐uD榱硪B）效果*/
	-moz-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	/*^渡效果所持m的rg*/
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	/*^渡效果的赢；ease是以低速_始->加速->Y束前p速*/	
}
#menu-icon span{
	top:23px;
}
#menu-icon::before{
	top:13px;
}
#menu-icon::after{
	top:33px;
}
#menu-icon.menu-icon-X span{
	left:-50px;
	opacity: 0;
}
#menu-icon.menu-icon-X::before{
  -ms-transform: rotate(45deg) translate(5px,9px);
  -moz-transform: rotateZ(45deg) translate(5px,9px);
  -ms-transform:  rotateZ(45deg) translate(5px,9px);
  -webkit-transform: rotateZ(45deg) translate(5px,9px);
  transform: rotateZ(45deg) translate(5px,9px);
  /*rotate是旋D角度（以D形中心旋D）；translatet是旋D後需要{整位置(x,y)*/
}
#menu-icon.menu-icon-X:after{
  -ms-transform: rotate(-45deg) translate(5px,-9px);
  -moz-transform: rotateZ(-45deg) translate(5px,-9px);
  -ms-transform:  rotateZ(-45deg) translate(5px,-9px);
  -webkit-transform: rotateZ(-45deg) translate(5px,-9px);
  transform: rotateZ(-45deg) translate(5px,-9px);
}

/*打_MENUro主^K覆w上一颖〖的感X*/
#menu-open-layer{
	position: fixed;
	top: 0;
	left: 0;
	background-color:rgba(0,0,0,0.7);
	width: 100vw;
	height: 100vh;
	cursor: pointer;
	z-index: 2;
}
#menu-list img{
	width:30%;
}
#menu-list{
	font-size: 1.5em;
	padding:10px;
}
#menu-list li{
	counter-increment: num_of_menu;
	margin-top:15px;
	cursor: pointer;
}
#menu-list li:hover{
	font-size: 1.6em;
	font-weight: bold;
	color:#F00;
}
#menu-list li:before{
	content:counter(num_of_menu);
	margin-right: 10px;
	font-size: 80%;
 	background-color: #2ecc71;
 	color: white;
	font-weight: bold;
	padding: 5px 8px;
	border-radius: 3px;
}
#main{
	padding-top: 80px;
	padding-bottom: 80px;
}
a.noneA{
	text-decoration:none;
	color:maroon;
}
.commBox{
	padding:10px;
	margin-top:20px;
	max-height: 600px;
	overflow: hidden;
	cursor:pointer;
	background-color: #BBD1E9;
	box-shadow: 3px 3px 15px black;
}
.commBox p.title{
	font-size: 1.5em;
	font-weight: bold;
	text-shadow:1px 1px 0 white;
}
.commBox p.quote{
	font-size: 1em;
	max-height: 50px;
	overflow: hidden;
}
.threadpostBox{
	padding:10px;
	margin-top:20px;
	max-width: 100vw;
	box-shadow: -3px -3px 15px black;
	overflow: hidden;	
}
.threadpostBox p.title{
	font-size: 1.2em;
}
.threadpostBox p.quote{
	font-size: 1.5em;
	font-weight: bold;
	text-shadow:1px 1px 0 white;
	color:maroon;
}
.replyBox{
	padding:10px;
	margin-top:10px;
	max-width: 100vw;
	overflow: hidden;
	background-color: #BBD1E9;
}
.replyBox p.title{
	font-size: 1.2em;
}
.replyBox p.quote{
	font-size: 1.5em;
	font-weight: bold;
	color:maroon;
}
.replyBox img{
	max-width:125px;
}
#jumpImage{
	position: fixed;
	top:0;
	padding-top:50px;
	text-align: center;
	width:100vw;
	height: 100vh;
	overflow: scroll;
	background-color: rgba(0,0,0,0.5);
	display: none;
	z-index: 5;	
}
#jumpImageS{
	position: fixed;
	top:0;
	padding-top:50px;
	text-align: center;
	width:100vw;
	height: 100vh;
	overflow: scroll;
	background-color: rgba(0,0,0,0.5);
	display: none;
	z-index: 4;	
}
#jumpImageS img{
	max-width:125px;
	max-height:125px;
	margin:5px;
}
#jumpImageS button{
	position: fixed;
	top:0;
	border-radius: 0;
}
.pushpost{
	background-color: white;
	padding:5px;
}

.loader{
  position:fixed; 
  top:calc(50% - 5.5em);
  left:calc(50% - 5.5em);
  font-size: 10px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  display: none;
}
.loader::before{
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader::after {
  background: #EEDFF0;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}